<header class="bar bar-nav">
    <button id="back_sim" class="btn btn-link btn-nav pull-left">
        <span class="icon icon-left-nav"></span>
    </button>
    <h1 class="title">Simulation</h1>
</header>
        
<div class="content">
    <div class="card" id="status">
        <div id="spinner" class="center">
            <img src="img/ajax-loader.gif" alt="Loading..." />
        </div>
    </div>
    <button id="update" class="btn btn-primary btn-block"><span class="icon icon-refresh"></span>REFRESH</button>
    <button id="pause" class="btn btn-primary btn-block"><span class="icon icon-pause"></span>PAUSE</button>
    <button id="modify" class="btn btn-primary btn-block"><span class="icon icon-edit"></span>MODIFY PARAMETERS</button>
    <button id="resume" class="btn btn-primary btn-block"><span class="icon icon-play"></span>RESUME</button>
    <button id="kill" class="btn btn-primary btn-block"><span class="icon icon-trash"></span>KILL</button>

</div>
